#content
{
	font-family: Arial , Helvetica , sans-serif;
	margin:0px;
	color:#000;
	min-height:700px;
}
html
{
	background-color:#fafafa;
}
h1
{
	font-style: oblique;
}

a
{
	color:#03426a;
	text-decoration:none;
	margin:10px;
}

header
{
	border-radius:4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#707ED7), to(#fafafa));
	/*background-color:#707ED7;*/
	color:#03426a;
	min-height:80px;
}

footer
{
	border-radius:4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#707ED7));
	background-color:#707ED7;
	color:#03426a;
}


nav
{
	float:right;
}
.blanche
{
	border-radius:3px;
	width:50px;
	height:110px;
	border: 1px solid black;	
	cursor:pointer;
	background-color:#fff;
	margin-left:-4px;
	margin-right:-4px;
	z-index:10;
}
.noir
{
	cursor:pointer;
	border-radius:3px;
	width:40px;
	height:60px;
	background-color:#000;
	margin-left:-20px;
	margin-right:-20px;
	z-index:15;
}

#imagen
{
	float:left;
}
ul{
    list-style-type: none;
}

li
{
    border-radius:3px;
    display:inline;
    background-color:#fafafa;
    margin:50px;
}

li:hover
{
	background-color:#03426a;
}

li:hover a
{
	color:#fff;
}

fieldset
{
	border:none;
}

#tab_body_input
{
	display:none;
}

#c_sharp,#d_sharp,#a_sharp,#f_sharp,#g_sharp
{
	position:relative;
}



.errors
{
	background-color:#ff4040;
}

#musica
{
	/*position:absolute;
	left:600px;
	top:400px;*/
	width:450px;  
	height:200px;   
	text-align:right;  
	right:300px;  
	top:400px;  
	position:fixed; 
}


