#content
{
	font-family:Arial,Helvetica,sans-serif;
	
	color:#000;
}
html
{
	background-color:#fafafa;
}
h1
{
	font-style: oblique;
}

a
{
	text-decoration:none;
}

header
{
	border-radius:4px;
	background-color:#707ED7;
	color:#fff;
	min-height:80px;
}

footer
{
	border-radius:4px;
	background-color:#707ED7;
	color:#fff;
}


nav
{
	float:right;
}
.blanche
{
	border-radius:3px;
	width:30px;
	height:50px;
	border: 1px solid black;	
	cursor:pointer;
	background-color:#fff;
	margin:0;
	padding:0;
}

#imagen
{
	float:left;
}


