
		<header>
			<h1> Cruithne</h1>
			<h2>Ideas para el proyecto</h2>
		</header>
		<hr/>
		<section>	
		<table>
				<tr>
					<th><a href="idea1">Where was I?</a></th>
					<th><a href="idea2">WikiHonduras</th>
					<th><a href="idea3">TabEditor</a></th>
				</tr>
				<tr>
					<td>Continua leyendo del punto en el cual te quedaste <br/>desde donde sea.</td>
					<td>Poder buscar información sobre honduras sin andar de pagina en pagina me gustaría que fuera como una enciclopedia sobre Honduras.</td>
					<td>Poder editar facilmente tablaturas, generando su apropiada notacion y un midi de muestra.</td>
				</tr>
			</table>
		</section>
	
		<aside>
			<p> Nuestro grupo se llama: Cruithne. <br/> Y los integrantes son: </p>
			<ul>
				<li>Eric David Diaz Rivera 10611237</li>
				<li>Jose Alejandro Matute Flores 10851033</li>
				<li>Victor Raul Zavala Martinez 10911203</li>
			</ul>
			
		</aside>

