	<h1>Where was I?</h1>
		
		<h2>Elevator pitch</h2>
		<p>Que mejor que poder seguir leyendo algo en el mismo punto en que te quedaste.</p>
		<hr/>
		<h2>El problema</h2>
		<p>Existe tantas cosas interesantes que leer, que el tiempo se hace insuficiente guardar
	solamente donde esta la pagina que leemos no es suficiente. <br/>Un lugar que me diga donde me quede en un articulo, 
	y sin necesidad de saltar por aros para modificar ese punto </p>
		<hr/>
		<h2>La solucion</h2>
		<p>Una especie de bookmarking, donde se guarden los links a los articulos/paginas. Y el punto donde me quede leyendo</p>
		<hr/>
		<h2>La competencia</h2>
		<ul>
			<li><a herf="http://www.delicious.com/">delicious</a></li>
			<li><a herf="https://www.google.com/bookmarks/l">google bookmarks</a></li>
		</ul>
		<hr/>
		<h2>Retos tecnicos</h2>
		<ul>
			<li>Reconocimiento de duplicaciones. </li>
			<li>Actualizacion de bookmarks</li>
			<li>Actualizaciones de paginas que se encuentren guardadas</li>
		</ul>

