<header> 
	<a class='branding' href='pagina1'>Where was I?</a>
</header>


	<p>Here you can create your own username and password, though a unique url will be created for you. That way you can browse through</br>
	   your links without the need of login forms. Though if you have no need for a username a url will be provided for you below by appending this to the website: </p>
	<a href="/user/<%=@nuevo.unico%>">/user/<%=@nuevo.unico%></a>
	
	<form action="/user/create/<%=@nuevo.unico%>" method="post">
		<input name='username' placeholder= "un nombre de usuario" type='text' /> 
		<input type='password' name='password'>
       		<input type='submit' value='entrar' /> 
	</form> 
