
<h1>WikiHonduras</h1>
<h2>Elevator Pitch</h2>
<p>podemos buscar información imágenes bajar documentos y que sea entretenida y fácil de usar</p>
<h2>El Problema</h2>
<p>quiero poder buscar información sobre honduras si andar de pagina en pagina me gustaría que fuera como una enciclopedia sobre honduras y nada de publicidad</p>
<h2>La solución</h2>
<p>Hacer una mini enciclopedia que sea atractiva para todo publico y que tenga la solo información sobre honduras y que va ser facil de usar</P>
<h2>Los lamers con los que compito</h2>
<dl>
<dt><a href ="http://www.ecohonduras.net">EcoHonduras </a></dt>
<dd>Es fácil de Usar Pero no tiene información y tiene mucha publicidad</dd>
<dt><a href ="http://honduras.com">Honduras </a></dt>
<dd>La pagina tiene información en dos idioma español y ingles pero carece de poca información y no es tan atractiva</dd>
<h2>Retos técnicos</h2>
<dd>1- facilitar el uso de la pagina para que un niño de primaria pueda usarla</dd>
<dd>2- Que la pagina no sea tan pesada,como la competencia</dd>

