<h1>Pagina donde se crearan nuevas tablaturas</h1>
<p>Crear nueva</p>

<audio src="DO.mp3" controls></audio>
<embed src="DO.mid" autostart="true" loop="10" width="1" height="1"></embed>
<div class="vex-tabdiv" width=400 scale=0.8>
  tabstave notation=true
  notes (5/2.6/3.7/4) 5h6/3 7/4 | 5h7p5/4 7/5 5s3/5

  tabstave notation=true
  notes (8/2.7b9b7/3) (5b6/2.5b6/3)v 7s0/4 | (5/2.6/3.7/4)v
<div>


