<h1>Pagina donde se crearan nuevas tablaturas</h1>
<p>Crear nueva</p>

<!--<audio src="sounds/DO.mp3" autoplay></audio> Prueba numero 1. Probando con JavaScript -->



<div class="vex-tabdiv" width=400 scale=0.8>
  tabstave notation=true
  notes (8/2.7b9b7/3) (5b6/2.5b6/3)v 7s0/4 | (5/2.6/3.7/4)v
</div>

<audio src="Midis/DO.mid" id="do2">

</audio>

<input type="button" value ="" id="do1" class="blanche">
<input type="button" value ="" id="re" class="blanche">
<input type="button" value ="" id="mi" class="blanche">
<input type="button" value ="" id="fa" class="blanche">
<input type="button" value ="" id="sol" class="blanche">
<input type="button" value ="" id="la" class="blanche">
<input type="button" value ="" id="si" class="blanche">
<input type="button" value ="" id="do2" class="blanche">

<script  src="/javascripts/funciones.js"></script> 
