<h1>Pagina donde se crearan nuevas tablaturas</h1>
<p>Crear nueva</p>

<div class="vex-tabdiv" width=400 scale=0.8>
  tabstave notation=true
  notes :q 0/4
</div>



<span id="do1" class="blanche">
	do 1
</span>

